<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SKInternship.board.Repository.BoardMapper">
    <!-- board 테이블 전체 컬럼 -->
    <sql id="boardColumns">
        id
        , title
        , content
        , writer
        , view_cnt
        , created_at
    </sql>

    <!-- board 테이블 insert용 컬럼 -->
    <sql id="boardInsertColumns">
        title
        , content
        , writer
        , view_cnt
        , created_at
    </sql>


    <!-- 게시글 저장 -->
    <insert id="save" parameterType="Board" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO board (
        <include refid="boardInsertColumns" />
        ) VALUES (
        #{title}
        , #{content}
        , #{writer}
        , 0
        , NOW()
        )
    </insert>


    <!-- 게시글 상세정보 조회 -->
    <select id="findById" parameterType="long" resultType="Board">
        SELECT
            <include refid="boardColumns" />
        FROM
            board
        WHERE
            id = #{value}
    </select>


    <!-- 게시글 수정 -->
    <update id="update" parameterType="Board">
        UPDATE board
        SET
            title = #{title}
            , content = #{content}
        WHERE
            id = #{id}
    </update>


    <!-- 게시글 삭제 -->
    <delete id="deleteById" parameterType="long">
        DELETE
        FROM board
        WHERE
            id = #{id}
    </delete>


    <!-- 게시글 리스트 조회 -->
    <select id="findAll" parameterType="SKInternship.board.controller.dto.SearchDto" resultType="Board">
        SELECT
            <include refid="boardColumns" />
        FROM
            board
        WHERE 1=1
            <if test="keyword == 'title'">
                AND title LIKE CONCAT('%',#{search},'%')
            </if>
            <if test="keyword == 'writer'">
                AND writer LIKE CONCAT('%',#{search},'%')
            </if>
        ORDER BY
            created_at DESC
    </select>

    <!-- 게시글 수 카운팅 -->
    <select id="count" parameterType="SKInternship.board.controller.dto.SearchDto" resultType="int">
        SELECT
            COUNT(*)
        FROM
            board
    </select>
</mapper>