<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="title">
    <title>글작성 페이지</title>
</th:block>
<th:block layout:fragment="content">
    <div class="content">
        <section>
            <form id="saveForm" method="post" autocomplete="off">
                <!--/* 게시글 수정인 경우, 서버로 전달할 게시글 번호 (PK) */-->
                <input type="hidden" id="id" name="id" th:if="${board != null}" th:value="${board.id}" />
                <!--/* 작성자 */-->
                <input type="hidden" id="writer" name="writer" th:value="${board?.writer}" required/>
<!--                <input type="hidden" id="writer" name="writer" th:value="${board?.writer}" required/>-->

                <table class="tb tb_row">
                    <colgroup>
                        <col style="width:15%;" /><col style="width:35%;" /><col style="width:15%;" /><col style="width:35%;" />
                    </colgroup>
                    <tbody>
                    <tr>
                        <th scope="row">등록일</th>
                        <td colspan="3" th:if="${board != null}" th:text="${board.createdAt}"></td>
                    </tr>

                    <tr>
                        <th>제목 </th>
                        <td colspan="3"><input type="text" id="title" name="title" maxlength="50" placeholder="제목을 입력해 주세요." required/></td>
                    </tr>

                    <tr>
                        <th>내용 </th>
                        <td colspan="3"><textarea id="content" name="content" cols="50" rows="10" placeholder="내용을 입력해 주세요." required></textarea></td>
                    </tr>
                    </tbody>
                </table>
            </form>
            <p class="btn_set">
                <button type="button" id="saveBtn" onclick="saveBoard();" class="btns btn_st3 btn_mid">저장</button>
                <a th:href="@{/board/openBoardList.do}" class="btns btn_bdr3 btn_mid">뒤로</a>
            </p>
        </section>
    </div> <!--/* .content */-->
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        window.onload = () => {
          renderPostInfo();
        }

        // 게시물 저장(수정)
        function saveBoard() {
            const form = document.getElementById('saveForm');
            const fields = [form.title, [[ ${board == null} ]] ? "kimji" : form.writer, form.content];

            document.getElementById('saveBtn').disabled = true;
            form.action = [[ ${board == null} ]] ? '/board/insertBoard.do' : '/board/updateBoard.do';
            form.submit();
        }

        // 게시물 상세정보 렌더링
        function renderPostInfo() {
          const board = [[ ${board} ]];

          if ( !board ) {
            return false;
          }

          const form = document.getElementById('saveForm');
          const fields = ['id', 'title', 'content', 'writer'];

          fields.forEach(field => {
            form[field].value = board[field];
          });
        }

        </script>
</th:block>
</html>